
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Raleway, Open-Sans;
}

:root{
    --text-color: #ffffff;
}

.container {
    max-width: max-content;
    margin: 0 auto; 
}

.quip-section{
    padding-left: 80px;
    padding-right: 80px
}

h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
    padding: 0;
}


/* Banner */

.banner-section {
    padding-top: 40px;
    background: url("../../../public/assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    padding: 60px 0;
    max-width: 820px;
}


.banner-heading{
    font-weight: 600;
    font-size: 75px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.animation {
    height: 75px;
    overflow: hidden;
    position: relative;
}

.animation>div {
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    animation: slide-animation 16s infinite ease-in-out
}

.animation>div>div {
    height: 75px;
    /* padding: 10px; */
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 75px;
    font-style: italic;
    border-radius: 3px;
    color: #fff
}

@keyframes slide-animation {
    0%, 20% {
        transform: translateY(-18px);
    }
    
    30% {
        transform: translateY(-96px);
    }
    
    50% {
        transform: translateY(-96px);
    }
    
    70% {
        transform: translateY(-170px);
    }

    85% {
        transform: translateY(-96px);
    }

    100% {
        transform: translateY(-18px);
    }
}


.p-text{
    font-weight: 400;
    font-size: 30px;
    color: var(--text-color);
    margin: 20px 0px;
}

.btn-text{
    font-weight: 700;
    font-size: 20px;
    background-color: #00A6AF;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

/* Menubar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.nav-links a:hover {
    color: #7796ac;
    font-size: 21px;
    font-weight: 900;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    z-index: 1000;
    height: 100vh;
    background-color: var(--text-color);
    transition: 0.3s;
    padding-top: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    color: #1a1a1a;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #444;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    background: none;
    border: none;
    color: #1a1a1a;
    cursor: pointer;
}

/* Steps */

.steps-section {
    background: url("../../../public/assets/images/grid.png"),
    linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, #F4F4F4 92.15%);
    background-blend-mode: lighten; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 80px;
    padding-bottom: 100px;
}

.steps-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.steps-section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    top: -50px;
    left: 0;
}

.steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.steps-container-1, .steps-container-2{
    flex: 1;
}

.steps-heading{
    font-weight: 500;
    font-size: 80px;
    color: #000000;
}

.steps-heading-span{
    color: #2B4659;
    font-weight: 700;
}

.thumbnail{
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #2B4659;
    border-radius: 30px;
}

.steps-img{
    height: auto;
    width: 100%;
    border-radius: 30px;
    margin-top: 50px;
    box-shadow: 0px 4px 14px 4px #00000040;
}

.steps-container-2{
    border-radius: 30px;
    border: 1px solid #2B4659;
    background-color: var(--text-color);
    padding: 40px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
}

.steps-container-heading{
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    color: #2B4659;
}

.steps-container-description{
    font-family: Raleway;
    font-weight: 400;
    font-size: 25px;
    margin-top:5px;
    margin-bottom: 5px;
}

/* Services */
.service-section{
    background: url("../../../public/assets/images/blue-texture.png"),
                #2B4659; 
    background-blend-mode: luminosity; 
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.service-heading{
    text-align: center;
    font-weight: 400;
    font-size: 80px;
    padding-bottom: 40px;
    color: #ffffff;
    position: relative;
}

.service-heading-span{
    font-family: Playfair Display;
    font-weight: 700;
    font-style: italic;
    font-size: 80px;
}

.job-titles{
    border: 3px solid #FFFFFF5E;
    border-radius: 25px;
    display: flex;
}

.arrow-icon {
    position: absolute;
}

.job-list {
    flex: 1;
    font-family: Raleway;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    list-style: none;
    color: var(--text-color);
    margin: 50px 0px;
    border-right: 2px dashed #FFFFFF;
    display: flex;
    flex-direction: column;
}

.job-list:nth-child(3){
    border: none;
}

.job-list> li{
    padding: 15px 0px;
}

/* Choose Us */
.choose-us-section {
    background: 
        linear-gradient(180deg, #F7F7F7 50%, rgba(255, 255, 255, 0) 100%),
        url("../../../public/assets/images/grid.png");
    background-blend-mode: lighten; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
}


.choose-us-heading{
    font-family: Raleway;
    font-weight: 400;
    font-size: 80px;
    text-align: center;
    margin-bottom: 80px;
}

.choose-us-span {
    font-weight: 700;
}

.choose-us-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 40px;
}

.choose-us-div {
    box-shadow: 0px 5px 16px 0px #080F340F;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 280px;
    height: auto;
    min-height: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
}

.choose-us-div-heading{
    font-family: Raleway;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    padding: 0px 15px;
}

/* Testimonial */

.testimonial-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(180deg, #F7F7F7 100%, rgba(255, 255, 255, 0) 100%);

}

.testimonial {
    overflow: hidden;
    position: relative;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 300px;
}

.testimonial-slide {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}

.testimonial-card {
    background: white;
    border-radius: 8px;
    padding: 10px 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto 15px;
    background-color: #f0f0f0;
}

.testimonial-text {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    max-height: 120px;
    overflow: hidden;
    letter-spacing: 1px;
}

.testimonial-author {
    font-weight: bold;
    color: #222;
    margin: 0px;
    font-size: 16px;
}

.testimonial-position {
    color: #666;
    font-size: 15px;
    margin: 0px;
    padding-top: 5px;
}

.slide-prev {
    left: calc(50% - 600px);
    transform: scale(0.8);
    opacity: 0.6;
    z-index: 1;
}

.slide-current {
    left: 50%;
    transform: translateX(-50%) scale(1);
    opacity: 1;
    z-index: 2;
}

.slide-next {
    left: calc(50% + 200px);
    transform: scale(0.8);
    opacity: 0.6;
    z-index: 1;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
}

.prev-button {
    left: 20px;
}

.next-button {
    right: 20px;
}

/* Form */
.form-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.form{
    border: 1px solid #EFF0F6;
    box-shadow: 0px 5px 16px 0px #080F340F;
    background-color: #F4F4F4;  
    border-radius: 25px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-para {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #6F6C90;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #D9DBE9;
    margin-bottom: 40px;
}

.form-fields{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    width: 100%;
}

.form-field{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.form-span{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #170F49;
}

.form-input {
    background: #FFFFFF;
    border: 1px solid #EFF0F6;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0px 2px 6px 0px #13124212;
}

.form-btn{
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background: #2B4659;
    box-shadow: 0px 3px 12px 0px #4A3AFF2E;
    border-radius: 25px;
    padding: 10px 25px;
    margin: 30px;
}

/* Contact */

.contact {
    border-radius: 25px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 29px 9px #00000040;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-img{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 60%;
}

.contact-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 0px 60px;
}

.email-data, .phone-data{
    width: 100%;
}

.email-data > h4, .phone-data > h4{
    font-family: Raleway;
    font-weight: 700;
    font-size: 28px;
}

.email-data > p, .phone-data > p{
    font-family: "Inter";
    font-size: 25px;
    margin: 0;
}

/* Above Footer */

.above-footer-section {
    padding-top: 60px;
    padding-bottom: 60px
}

.above-footer-para{
    font-family: Raleway;
    text-align: center;
    font-weight: 400;
    font-size: 55px;
    color: #00000066;
}

.above-footer-span{
    font-family: Inter;
    font-weight: 600;
    font-style: italic;
    font-size: 55px;
    color: #1a1a1a;
}

/* Footer */

.footer-section {
    background-color: #2B4659;
    padding-top: 100px;
    padding-bottom: 40px;
}

.footer {
    background-color: var(--bg-color);
    color: var(--bg-color);
    width: 100%;
    font-family: Arial,sans-serif;
    text-align: center;
    left: 0;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    text-align: left;
}


.footer-address p {
    margin: 5px 0;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-phone {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px
}

.footer-phone:hover {
    text-decoration: underline
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.footer-section ul li {
    margin: 10px 0;
    color: #FFFFFF;
}

.footer-section ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    transition: color .3s
}

.footer-bottom > p {
    margin-top: 50px;
    padding-top: 20px;
    color: #fff;
    border-top: 1px solid #FFFFFF
}


@media (max-width:768px){
    .quip-section{
        padding-left: 10px;
        padding-right: 10px;
    }

    .banner-section{
        height: 75vh;
    }

    .logo{
        width: auto;
        height: 35px;
    }

    .banner-content{
        /* padding: 50px 0; */
        max-width: fit-content;
    }

    .banner-heading{
        font-size: 35px;
        gap: 8px;
    }

    .animation{
        height: 45px;
    }

    .p-text{
        font-size: 25px;
    }

    .animation > div > div{
        font-size: 35px;
        height: 45px;
    }

    @keyframes slide-animation {
        0%, 20% {
            transform: translateY(-2px);
        }
        
        30% {
            transform: translateY(-2px);
        }
        
        50% {
            transform: translateY(-48px);
        }
        
        70% {
            transform: translateY(-48px);
        }
    
        85% {
            transform: translateY(-92px);
        }
    
        100% {
            transform: translateY(-48px);
        }
    }

    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .steps-section{
        padding-top: 10px;
        padding-bottom: 40px;
    }

    .steps-section::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 30px;
        background-color: #fff;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        top: -30px;
        left: 0;
    }

    .thumbnail{
        width: 330px;
        height: 200px;
        margin-bottom: 40px;
    }

    
    .steps-container{
        flex-direction: column;
        gap: 10px;
    }

    .steps-heading{
        font-size: 35px;
    }

    .steps-img{
        margin-top: 10px;

    }

    .steps-container-2{
        padding: 20px 20px;
    }

    .steps-container-heading{
        font-size: 20px;
    }

    .steps-container-description{
        font-size: 15px;
    }

    .service-section{
        padding-top: 40px;
        padding-bottom: 40px
    }

    .arrow-icon{
        display: none;
    }

    .service-heading{
        font-size: 35px;
        padding-bottom: 20px;
    }
    
    .service-heading-span{
        font-size: 35px;
    }

    .job-titles{
        flex-direction: column;
        gap: 10px;
    }

    .job-list{
        font-size: 20px;
        margin: 0px;
        border-right: none;
        border-bottom: 2px dashed #FFFFFF;
        padding: 20px 0px;
    }

    .job-list> li {
        padding: 10px 0px;
    }

    .choose-us-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .choose-us-heading{
        font-size: 35px;
        margin-bottom: 20px;
    }

    .choose-us-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        row-gap: 10px;
    }

    .choose-us-div {
        max-width: 100%; 
        min-height: 150px; 
        padding: 15px 0px;
        height: 50px;
    }

    .choose-us-div > img{
        height: 55px;
        width: auto;
    }

    .choose-us-div-heading{
        font-size: 15px;
    }

    .testimonial-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .testimonial-content{
        text-align: center;
    }

    .next-button{
        right: 0px;
    }

    .prev-button{
        left: 0px;
    }

    .testimonial-text{
        font-size: 15px;
        margin: 20px 30px;
    }

    .form-section{
        padding-top: 40px;
        padding-bottom: 40px
    }

    .form{
        padding: 10px;
    }

    .form-para{
        font-size: 20px;
    }

    .form-fields{
        grid-template-columns: auto;
        gap: 20px;
    }

    .form-span{
        font-size: 15px;
    }

    .form-field{
        gap: 20px;
    }

    .form-btn{
        font-size: 15px;
    }

    .contact{
        flex-direction: column;
    }

    .contact-img {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0px;
        width: 100%;
    }

    .contact-data{
        gap: 5px;
        padding: 10px;
        width: auto;
    }

    .email-data, .phone-data{
        padding: 10px 20px;
        text-align: center;
        /* width: auto; */
    }

    .email-data > h4, .phone-data > h4 {
        font-size: 18px;
    }

    .email-data > p, .phone-data > p {
        font-size: 15px;
    }

    .above-footer-para{
        font-size: 35px;
    }

    .above-footer-span {
        font-size: 35px;
    }
}

@media (min-width:769px) and (max-width:1023px){
    .quip-section{
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo{
        width: auto;
        height: 35px;
    }

    .banner-content{
        margin-top: 150px;
        max-width: fit-content;
    }

    .banner-heading{
        font-size: 35px;
        gap: 8px;
    }

    .animation{
        height: 45px;
    }

    .p-text{
        font-size: 25px;
    }

    .animation > div > div{
        font-size: 35px;
        height: 45px;
    }

    @keyframes slide-animation {
        0%, 20% {
            transform: translateY(-2px);
        }
        
        30% {
            transform: translateY(-2px);
        }
        
        50% {
            transform: translateY(-48px);
        }
        
        70% {
            transform: translateY(-48px);
        }
    
        85% {
            transform: translateY(-92px);
        }
    
        100% {
            transform: translateY(-48px);
        }
    }

    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .steps-section{
        padding-top: 10px;
        padding-bottom: 40px;
    }

    .steps-section::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 30px;
        background-color: #fff;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        top: -30px;
        left: 0;
    }

    .thumbnail{
        width: 650px;
        height: 350px;
        margin-bottom: 40px;
    }

    
    .steps-container{
        flex-direction: column;
        gap: 20px;
    }

    .steps-heading{
        font-size: 40px;
        text-align: center;
    }

    .steps-img{
        margin-top: 40px;
    }

    .steps-container-2{
        padding: 30px 20px;
    }

    .steps-container-heading{
        font-size: 20px;
    }

    .steps-container-description{
        font-size: 15px;
    }

    .service-section{
        padding-top: 40px;
        padding-bottom: 40px
    }

    .arrow-icon{
        display: none;
    }

    .service-heading{
        font-size: 40px;
        padding-bottom: 20px;
    }
    
    .service-heading-span{
        font-size: 40px;
    }

    .job-titles{
        /* flex-direction: column; */
        gap: 15px;
    }

    .job-list{
        font-size: 20px;
        margin: 20px 0;
        padding: 20px 0px;
        border-right: 2px dashed #FFFFFF;
    }

    .job-list> li {
        padding: 10px 0px;
    }

    .choose-us-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .choose-us-heading{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .choose-us-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        row-gap: 10px;
    }

    .choose-us-div {
        max-width: 100%; 
        min-height: 150px; 
        padding: 15px 0px;
        height: 50px;
    }

    .choose-us-div > img{
        height: 55px;
        width: auto;
    }

    .choose-us-div-heading{
        font-size: 15px;
    }

    .testimonial-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .testimonial-content{
        text-align: center;
    }

    .next-button{
        right: 0px;
    }

    .prev-button{
        left: 0px;
    }

    .testimonial-text{
        font-size: 15px;
        margin: 20px 30px;
    }

    .form-section{
        padding-top: 40px;
        padding-bottom: 40px
    }

    .form{
        padding: 10px;
    }

    .form-para{
        font-size: 20px;
    }

    .form-fields{
        grid-template-columns: auto;
        gap: 20px;
    }

    .form-span{
        font-size: 15px;
    }

    .form-field{
        gap: 20px;
    }

    .form-btn{
        font-size: 15px;
    }

    .contact{
        flex-direction: column;
    }

    .contact-img {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0px;
        width: 100%;
    }

    .contact-data{
        gap: 5px;
        padding: 10px;
        width: auto;
    }

    .email-data, .phone-data{
        padding: 10px 20px;
        text-align: center;
        /* width: auto; */
    }

    .email-data > h4, .phone-data > h4 {
        font-size: 18px;
    }

    .email-data > p, .phone-data > p {
        font-size: 15px;
    }

    .above-footer-para{
        font-size: 35px;
    }

    .above-footer-span {
        font-size: 35px;
    }
}